





header {
  padding: 60px;
  text-align: center;
  background: navy;
  color: white;
  font-size: 30px;
}







/***********
FOOTER
***********/

footer {
    text-align: center;
    font-size: 0.75em;
    padding: 20px 0 0 0;
    clear: both;
    background-color: lightskyblue;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0px;
}