/***********
HEADER
***********/

header {
  padding: 60px;
  text-align: center;
  background: navy;
  color: white;
  
}

h1{
    font-size: 71px;
    
}
/***********
GOOGLE FONT
***********/

body {
    font-family: 'Arial';font-size: 22px;
}
/***********
NAVIGATION
***********/


h3{
    text-align: center;
    color:navy;
    padding-bottom: 23px;
    font-weight: bold;
}

main {
    padding: 0 5% 5%;
}

img.resize {
  width: 20rem;
/*  max-height:10%;*/
}



/***********
FOOTER
***********/

footer {
    display:flex;
    text-align: left;
    font-size: 17px;
    padding: 2% 10% 1%;
    
    background-color: #e3f2fd;
    color: darkslategray;
}

footer p {
    display:inline-block;
    float: left;
}

footer a {
    display:inline-block;
    float: right;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 20px;
    
}

@media only screen and (max-width: 600px) {
  
  h1{
    font-size: 41px;
  }
    img.resize {
  width: 15rem;
  height: 5rem;
}
}